# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# latex stuff
*.aux
*.log
*.dvi
*.snm
*.toc
*.nav
*.out
*.pdf
*.bbl
*.blg

.*.swp

# ignore the sampled files
models/sampled-depletion-files/
models/sampled-bwr/
